name: CI

on:
  pull_request:
    branches:
      - "master"

permissions:
  contents: read
  pull-requests: write

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup node
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Print versions
        run: |
          git --version
          bun --version

      - name: Linter check
        run: bun run lint

      - name: Lint Commit Messages
        uses: wagoid/commitlint-github-action@v6
        with:
          configFile: "commitlint.config.mjs"
          failOnWarnings: true

      - name: Unit tests
        run: bun run test:unit:coverage

      - name: ☂️ Coverage Report
        uses: davelosert/vitest-coverage-report-action@v2
        with:
          json-summary-path: "./coverage/coverage-summary.json"
          json-final-path: "./coverage/coverage-final.json"
